<div id="<%= dom_id position %>">
</br>
  <p>
    <strong>Position title:</strong>
    <%= position.title %>
  </p>

  <p>
    <strong>Position description:</strong>
    <%= position.description %>
  </p>
</div>
 

